# ignore all files that may be in sandbox at a point in time...
server/sandbox/*
# except for the gitkeep
!server/sandbox/.gitkeep
# also ignore the database
server/database.db
# ignore all vcds
public/vcd/*.vcd
# ignore the work folder of the testbench maker
tools/tb_maker/work/*
# except for its gitkeep
!tools/tb_maker/work/.gitkeep
